  <!-- Section Slider  -->
    <section id="slider-part">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12 col-sm-12 col-xs-12 wow fadeInLeft">
    				<div class="slider-content text-center">
              <form>
                First Name:
                <input type="text" name="firstname" style="color:black;"><br>
                <br>
                Last Name:
                <input type="text" name="lastname" style="color:black;"><br>
                <br>
                Email Address:
                <input type="text" name="email" style="color:black;"><br>
                <br>
                Username:
                <input type="text" name="username" style="color:black;"><br>
                <br>
                Password:
                <input type="password" name="password" style="color:black;"><br>
                <br>
                Retype Password:
                <input type="password" name="password" style="color:black;"><br>
                <br>
              </form>
              <button class="btn btn-default featured"><a href="dashboard.html">Submit</a></button>
    				</div>
    			</div>

    		</div><!-- Row End -->
    	</div> <!-- Container End -->
    </section>
