<div class="container" ng-controller="RegisterCtrl">
  <h2>Register</h2>
  <form name="register">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username" ng-model="newAccount.username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="newAccount.password">
    </div>
    <button ng-click="registerAccount()" class="btn btn-default">Submit</button>
  </form>
</div>
