    <!-- Section Slider  -->
    <section id="slider-part">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12 col-sm-12 col-xs-12 wow fadeInLeft">
    				<div class="slider-content text-center">
    					<h2 class="slider-title">Innovative Learning for Everyone</h2>
    					<div class="btn-container">
    						<button class="btn btn-default featured"><a class="page-scroll" href="#about">Discover</a></button>
                <button class="btn btn-default featured"><a class="page-scroll" href="signup.html">Begin</a></button>
    					</div>
    				</div>
    			</div>
    		</div><!-- Row End -->
    	</div> <!-- Container End -->
    </section>
    <!-- Section Slider End -->

    <!-- Section: About (Start) -->
  	<section id="about">
  		<div class="container">
  			<div class="row">
      			<div class="heading-inner text-center">
      				<h2 class="sec-title">why <span>choose</span> us</h2>
      				<p>our service provides learning techniques that cater to everyones needs</p>
      			</div>
      		</div> <!-- Heading Row End -->

        <div class="row">
      			<div class="feature-wrapper text-center">

              <!-- Item 1 Start -->
      				<div class="col-md-3 col-md-offset-4.5 col-sm-6 col-xs-12 feature-bg wow fadeInUp" data-wow-delay=".3s">
      					<div class="feature-inner text-center">
                              <div class="icon-box">
                                <h1> Test </h1>
                              </div>
      						<div class="feature-content">
      							<h3></h3>
      							<p> StudyLex offers a comprehensive quiz to learn about you, your learning style and your learning goals as well as your strenghts and difficulties.</p>
      							<a href="#" class="read-more">Read More</a>
      						</div>
      					</div>
      				</div> <!-- Item 1 End -->

              <!-- Item 2 Start -->
      				<div class="col-md-3 col-md-offset-4.5 col-sm-6 col-xs-12 feature-bg white wow fadeInUp" data-wow-delay=".5s">
      					<div class="feature-inner text-center">
                              <div class="icon-box">
                                <h1> Plan </h1>
                              </div>
      						<div class="feature-content">
      							<h3></h3>
      							<p> StudyLex will create an individualised learning plan for you that is easily customisable to meet your needs.</p>
      							<a href="#" class="read-more">Read More</a>
      						</div>
      					</div>
      				</div> <!-- Item 2 End -->

              <!-- Item 3 Start -->
      				<div class="col-md-3 col-md-offset-4.5 col-sm-6 col-xs-12 feature-bg wow fadeInUp" data-wow-delay=".7s">
      					<div class="feature-inner text-center">
                              <div class="icon-box">
                                <h1> Learn </h1>
                              </div>
      						<div class="feature-content">
      							<h3></h3>
      							<p> By beginning your learning plan, you will instantly be emerged in material.</p>
      							<a href="#" class="read-more">Read More</a>
      						</div>
      					</div>
      				</div> <!-- Item 3 End -->

      			</div><!-- Feature Wrapper End -->
      		</div><!-- Row End -->
  		</div>	<!-- Container End -->
  	</section>
  	<!-- Section: About End -->

  <!-- Section: Download (Start) -->
	<section id="download">
		<div class="container">
			<div class="row">
				<div class="col-md-7 wow fadeInLeft" data-wow-delay=".3s">
					<div class="download-inner text-left">
						<h2> <span>download</span> the App </h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum pariatur, quam, cumque similique dignissimos cupiditate deserunt consequatur vitae, voluptas illo quos fuga nisi blanditiis ex dolore beatae odio eligendi neque.</p>

						<div class="btn-container">
              <a href="#"><i class="fa fa-apple"></i></a>
							<a href="#"><i class="fa fa-android"></i></a>
							<a href="#"><i class="fa fa-windows"></i></a>
							<a href="#"><i class="fa fa-play"></i></a>
						</div>
					</div> <!-- Download-Inner End -->
				</div> <!-- col-md-8 end -->
				<div class="col-md-5 wow fadeInRight hidden-sm" data-wow-delay=".3s">
					<div class="flaoting-img ">
						<img src="images/app1.png" alt="" class="img-responsive">
					</div>
				</div>
			</div>  <!-- Row End  -->
		</div>  <!-- Container End  -->
	</section>
	<!-- Section: Download (End) -->

	<!-- Section: Team (Start) -->
	<section id="team" class="team landing_page_team">
		<div class="container">
			<div class="row wow fadeInLeft">
				<div class="col-md-12 col-xs-12">
			      <div id="team-carousel" class=" owl-carousel owl-theme text-center team-carousel">
              <h3> Meet Our Team </h3>

              <!-- Ryan -->
              <figure class="item team_logo">
			          <a href="#">
			            <img src="images/team/team1.png" alt="team">
			          </a>
			        </figure>

              <!-- Kristin -->
			        <figure class="item team_logo">
			          <a href="#">
			            <img src="images/team/team2.png" alt="team">
			          </a>
			        </figure>

              <!-- Chatura -->
			        <figure class="item team_logo">
			          <a href="#">
			            <img src="images/team/team3.png" alt="team">
			          </a>
			        </figure>

              <!-- Andrew -->
			        <figure class="item team_logo">
			          <a href="#">
			            <img src="images/team/team4.png" alt="team">
			          </a>
			        </figure>

              <!-- Jeff -->
			        <figure class="item team_logo">
			          <a href="#">
			            <img src="images/team/team5.png" alt="team">
			          </a>
			        </figure>
			      </div> <!-- Owl Carousel End -->
		    	</div> <!-- col-md-12 End -->
	    	</div> <!-- Content Row End -->
		</div> <!--/ Container End -->
	</section> <!--/ Section: Team (End) -->


	<!-- Back To Top Button -->
    <div id="back-top">
        <a href="#slider-part" class="page-scroll btn btn-primary" ><i class="fa fa-angle-double-up"></i></a>
    </div>
    <!-- End Back To Top Button -->
