<section id="slider-part">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 wow fadeInLeft">
				<div class="slider-content text-center card-form">

		<form form="newPost" id="inputForm">
			Subject:<br>
			<input type="text" name="Subject" ng-model="newpost.subject"  ><br>
			Question: <br>
			<textarea type="text" name="Question" ng-model="newpost.question"></textarea><br>
			Hint 1: <br>
			<input type="text" name="Hint1" ng-model="newpost.hint"><br>
			Answer: <br>
			<input type="text" name="Answer" ng-model="newpost.answer"><br>
			<br>
			More Info: <br>
			<textarea type="text" name="Moreinfo" ng-model="newpost.more"></textarea>
			<br>
			<p>
				<button ng-click="submitPost(this)" id="mainButton">Submit</button>
				<button ng-click="updatePost(this)" id="updateButton">Update</button>
			</p>
		</form>

		<div ng-repeat="card in cardSet" class="blog-container">
			<div class="blog-box">
				<p>{{card.subject}}</p>
				<p>{{card.question}}</p>
				<p>{{card.hint}}</p>
				<p>{{card.more}}</p>
				<span>{{card.time | date:'medium'}}</span>
				<button ng-click="deletePost(card._id)">Delete</button>
				<button ng-click="editCard($index)">Edit</button>
			</div>
		</div>
</div>
</div>

</div><!-- Row End -->
</div> <!-- Container End -->
</section>
